body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right, lightgreen, darkgreen);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }

  header h1 {
    color: white;
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    color: darkgreen;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
  }

  .form-footer {
    text-align: center;
    margin-top: 20px;
  }

  .form-footer a {
    text-decoration: none;
    color: #4CAF50;
  }