body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, lightgreen, darkgreen);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
}

header {
    padding: 10px;
}

header h1 {
    color: white;
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    display: flex;
    flex: 1;
}

#outerDiv {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
}

#o1 {
    max-width: 1200px;
    height: 85vh;
    margin: auto;
    display: flex;
}

#d1 {
    width: 50%;
    height: 85vh;
    border-radius: 0.5rem;
    padding: 0rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
}

#d2 {
    width: 50%;
    height: 85vh;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
}

#d3 {
    height: 20%;
    flex: 3;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 1rem 1rem;
    /*margin: 0rem 0.5rem;*/
    display: flex;
    flex-direction: column;
}

#d4 {
    color: white;
    flex: 1;
    background-color: green;
    border-radius: 0.5rem;
    padding: 0.5rem 3rem;
    margin: 1rem 0.5rem 0rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#d5 {
    display: none;
}

.title {
    color: darkgreen;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
}

.title>h1 {
    font-weight: 900;
    font-size: 1.5rem;
}

.item {
    display: flex;
    border-bottom: solid 0.1rem grey;
    padding: 1rem 0rem 0rem 0rem;
    position: relative;
}

.item .icons {
    display: none;
}

.item:hover .icons {

    display: block;
    margin: auto 0.5rem auto auto;
    font-size: small;
}

.money-sign {
    color: darkgreen;
    font-weight: 800;
    font-size: 0.9rem;
    margin: auto auto auto 0.5rem;
}

.item>div>input {
   border: none;
   background: none;
}

.item>div>input:focus {
     outline: none;
     border-color: transparent;
     box-shadow: none;
}

.input-title {
    color: green;
    font-weight: 100;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    width: 100%;
    text-overflow: ellipsis;
}

.input-value {
    color: darkgreen;
    font-weight: 800;
    font-size: 0.9rem;
    margin: auto;
    letter-spacing: 0.1rem;
    width: 100%;
}

.input-value::before {
    content: "£";
}

.items {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
}

.item-row:hover {
    font-size: 1.1rem;
}

.input-row>div:nth-of-type(1) {
    flex: 2;
}

.input-row>div:nth-of-type(2) {
    flex: 1;
}

.total {
    display: flex;
    padding: 0.5rem 1rem 0rem 0rem;
}

.total>h1:nth-child(1) {
   color: lightgreen;
   font-weight: 900;
   font-size: 1.2rem;
   flex: 2;
   letter-spacing: 0.1rem;
}

.total>h1:nth-child(2) {
    color: darkgreen;
    font-weight: 800;
    font-size: 0.9rem;
    margin: auto;
}

.total>h1:nth-child(3) {
   color: darkgreen;
   font-weight: 800;
   font-size: 0.9rem;
   flex: 1;
   margin: auto;
}

.white {
    color: white;
}

.totals {
    display: flex;
    color: white;
}

.totals-title {
   font-weight: 900;
   font-size: 1rem;
   flex: 1;
   letter-spacing: 0.2rem;
}

.totals-value {
   font-weight: 800;
   font-size: 1rem;
   flex: 1;
}

.minus {
    padding-right: 0.5rem;
    margin: auto;
}

.minus:hover {
    font-size: larger;
    cursor: pointer;
}

.one-rem {
    font-size: 1rem;
    padding-right: 0.1rem;
}

.total-underline {
   border-bottom: solid 0.1rem lightgrey;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.add {
    display: flex;
}

.add-btn {
    margin: 1rem 0.5rem 0.5rem 0.3rem;
}

.add-btn:hover {
    cursor: pointer;
    font-size: large;
}

@media screen and (max-width: 800px) and (orientation: portrait) {
    body {
        overflow-y: auto;
    }

    #outerDiv {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    #d1 {
        background-color: white;
        margin: 1rem 0rem 1rem 0rem;
        height: inherit;
        min-width: 300px;
    }

    #d2 {
        height: inherit;
        min-width: 300px;
    }

    #d3 {
        padding: initial;
    }

    #d4 {
        display: none;
    }

    #d5 {
        color: white;
        background-color: green;
        border-radius: 0.5rem;
        padding: 0.5rem 1.5rem;
        margin: 1rem 0.5rem 0rem 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem 0rem 1rem 0rem;
        width: 50%;
        min-width: 300px;
    }

    #income-list {
        max-height: 250px;
    }

    #expense-list {
        max-height: 400px;
    }
}
/*We can have all input fields and just disable them once the element loses focus and it can only become enabled again once the user hovers over it and selects edit*/